<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}
    Kursy
    {% endblock %}</title>
</head>
<body>
    <div id="header">
        <a href="#" class="logo">Learn</a>
        <ul class="menu">
            {% if request.user.is_authenticated %}
                <li><a href="{% url 'account:logout' %}">Wyloguj</a></li>
            {% else %}
                <li><a href="{% url 'account:login' %}">Zaloguj</a></li>
            {% endif %}
        </ul>
    </div>
    <div id="content">
        {% block content %}

        {% endblock %}
    </div>
</body>
</html>